doctype html
html(lang="en")
  head
    title= pageTitle
  body

    form(method="POST", action="/tvdb/search")
      input(type="text", name="searchString")
      input(type="submit", value="submit")